<div class="single-footer-grid single-footer-grid-item">
    <div class="single-footer-grid-container">
        <div class="single-footer-grid-avatar">
            <img class="avatar-img" src="{{ .Site.Params.Profile.Avatar }}" alt="">
        </div>
    </div>
    <div class="single-footer-grid-container">
        <h5 class="single-title">{{ .Site.Params.Profile.Name }}</h5>
    </div>
</div>
<div class="single-footer-grid-label single-footer-grid-item">
    <div class="single-footer-grid-label-container">
        <p class="typography-label">{{ .Site.Params.Profile.Desc }}</p>
        <p class="typography-label-description">{{ .Site.Params.Description }}</p>
    </div>
</div>